<div class="col-sm-12 blog-main">
  <h2 class="blog-title"><%= @blog.title %></h2>
  
  <% if logged_in?(:site_admin) %>
    <%= render 'blog_breadcrumb' %>
  <% end%>

  <div class="blog-caption">
    <span><%= @blog.created_at_formated %></span>
    <span>・7 min read</span>
  </div>

  <div class="blog-tags">
    <% @tags.each do |tag| %>
      <%= link_to tag.name, '#', class: 'tag', style: "color: #{tag.color}; background: #{tag.background}" %>
    <% end%>
  </div>

  <div class="blog-body markdown-body">
    <%= markdown @blog.body %>
  </div>

  <div class="comment-title">Comments</div>

  <div id="comments" data-blog-id="<%= @blog.id %>">
    <%= render @blog.comments %>
  </div>

  <%= render 'comments/comment_form' %>
</div>