<% if current_user %>
  <%= form_for @comment, url: '#' do |f| %>
    <div class="form-group">
      <%= f.label :content %>
      <%= f.text_area :content, class: 'form-control', rows: 5 %>
    </div>

    <%= f.submit 'Post Comment', class: 'btn btn-primary' %>
  <% end %>
<% else %>
    <div class="text-center">
      <%= button_to user_github_omniauth_authorize_path, class: 'btn-logo-github' do %>
        <span>Login với 
          <%= image_tag 'icons/github-icon.svg', class: "social-icon", alt: "github" %>
          để bắt đầu
        </span>
      <% end %>
    </div>
  <% end %>