<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'about_me', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'header', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'blog', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render "shared/application_nav" %>
    <div class="main">
      <div class="main-cv">
        <div class="main-cv-info">
          <div class="main-cv-info_container">
            <div class="info-group">
              <div class="img-avatar_wrapper">
                <%= image_tag 'avatar.JPG', class: "img-avatar", alt: "avatar" %>
              </div>

              <!-- <span class="main-cv-info--title">Pham Duy Dai</span> -->
              <span class="main-cv-info--subtitle"
                >Hey!
                I'm <strong>Dai Pham</strong> from Viet Nam. <br/>
                I love programming, as well as running, taking photos and learning new thing.
                Feel free to get in touch or take a look at my past work below.</span
              >
              <div class="social-network">
                <a href="#" class="social-link">
                  <%= image_tag 'icons/github-icon.svg', class: "social-icon", alt: "github" %>
                </a>
                <a href="#" class="social-link">
                  <%= image_tag 'icons/fb-icon.svg', class: "social-icon", alt: "facebook" %>
                </a>
                <a href="#" class="social-link">
                  <%= image_tag 'icons/twitter-icon.svg', class: "social-icon", alt: "twitter" %>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="main-cv__tech">
          <span class="block-title right">PERSONAL INFO</span>
          <div class="main-cv__tech_container">
            <div class="main-cv__tech_careerPath">
              <div class="main-cv__tech_careerPath">
                <span class="block-title subtitle"
                  >Full Name: Pham Duy Dai</span
                >
                <li>Phone: 0835.221.529</li>
                <li>Email: daipham1210@gmail.com</li>
                <li>Date of birth: 12/10/1995</li>
                <li>Place of birth: Quang Nam</li>
              </div>
              <div class="main-cv__tech_careerPath">
                <span class="block-title subtitle">OBJECTIVE</span>
                <li>Become a senior full stack developer about 3 years</li>
                <li>
                  Get knowledge and experience more about business analyst, project management
                </li>
                <li>To be worked in the professional environment and bring a lot of values to company</li>
                <li>Improve English skill</li>
              </div>
            </div>
            <div class="main-cv__tech_skill">
              <span class="block-title subtitle">Programing Language</span>
              <div class="skill-group">
                <div class="skill-block">
                  <%= image_tag 'icons/js-icon.svg', class: "skill-block__img", alt: "js" %>
                  <span class="skill-block__name">Javascript</span>
                </div>
                <div class="skill-block">
                  <%= image_tag 'icons/ruby-icon.svg', class: "skill-block__img", alt: "ruby" %>
                  <span class="skill-block__name">Ruby</span>
                </div>
              </div>
              <!-- other bloc skill -->
              <span class="block-title subtitle">Framework/Libary</span>
              <div class="skill-group">
                <div class="skill-block">
                  <%= image_tag 'icons/ror-icon.svg', class: "skill-block__img", alt: "rails" %>
                  <span class="skill-block__name">Rails</span>
                </div>
                <div class="skill-block">
                  <%= image_tag 'icons/react-icon.svg', class: "skill-block__img", alt: "reactjs" %>
                  <span class="skill-block__name">ReactJS</span>
                </div>
                <div class="skill-block">
                  <%= image_tag 'icons/nodejs-icon.svg', class: "skill-block__img", alt: "nodejs" %>
                  <span class="skill-block__name">NodeJS</span>
                </div>
                <div class="skill-block">
                  <%= image_tag 'icons/redux-icon.svg', class: "skill-block__img", alt: "redux" %>
                  <span class="skill-block__name">ReduxJS</span>
                </div>
              </div>
              <!-- other bloc skill -->
              <span class="block-title subtitle">Database</span>
              <div class="skill-group">
                <div class="skill-block">
                  <%= image_tag 'icons/mysql-icon.svg', class: "skill-block__img", alt: "mysql" %>
                  <span class="skill-block__name">MySQL</span>
                </div>
                <div class="skill-block">
                  <%= image_tag 'icons/postgresql-icon.svg', class: "skill-block__img", alt: "postgresql" %>
                  <span class="skill-block__name">PostgreSQL</span>
                </div>
                <!-- <div class="skill-block">
                  <%= image_tag 'icons/mongodb-icon.svg', class: "skill-block__img", alt: "mongodb" %>
                  <span class="skill-block__name">MongoDB</span>
                </div> -->
              </div>
              <span class="block-title subtitle">Server</span>
              <div class="skill-group">
                <div class="skill-block">
                  <%= image_tag 'icons/docker-icon.svg', class: "skill-block__img", alt: "docker" %>
                  <span class="skill-block__name">Docker</span>
                </div>
                <div class="skill-block">
                  <%= image_tag 'icons/nginx-icon.svg', class: "skill-block__img", alt: "nginx" %>
                  <span class="skill-block__name">Nginx</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="main-cv__edu">
          <span class="block-title right">EDUCATION</span>
          <div class="main-cv__edu_container">
            <div class="main-cv__edu_item">
                <%= image_tag 'logo-cit.png', class: "main-cv__edu--img", alt: "logo cit" %>
                <div class="main-cv__edu--info">
                  <span class="edu-name">Da Nang University of Technology</span>
                  <span class="edu-subject">Major: Information Technology</span>
                  <span class="edu-date">From September 2013- June 2018</span>
                  <span class="btn btn-success">Graduated</span>
                </div>
            </div>
          </div>
        </div>
        <div class="main-cv__timeline">
          <span class="block-title right">WORK EXPERIENCE</span>
          <div class="main-cv__timeline_wrapper">
            <div class="main-cv__timeline_container">
              <div class="main-cv__timeline--item left">
                <div class="timeline-item ">
                  <span class="timeline-item__year mobile_only"
                    >July 2018- March 2019</span
                  >
                  <span class="timeline-item--title"> Neolab Da Nang</span>
                  <span class="timeline-item--subtitle"
                    >Intern PHP & Fresher ROR</span
                  >

                  <span class="timeline-item--content">
                    <li>Learning PHP, Ruby language, Rails framework</li>
                    <li>Working in a product team, learning teamwork skill and Agile/Scrum process</li>
                  </span>
                </div>
              </div>
              <div class="main-cv__timeline--item desktop_only">
                <span class="timeline-item__year"
                  >September 2017- April 2018</span
                >
              </div>
            </div>
            <div class="main-cv__timeline_container">
              <div class="main-cv__timeline--item desktop_only">
                <span class="timeline-item__year left"
                  >July 2018- March 2019</span
                >
              </div>
              <div class="main-cv__timeline--item right">
                <div class="timeline-item right">
                  <span class="timeline-item__year mobile_only"
                    >April 2019 - Present</span
                  >
                  <span class="timeline-item--title">NUS Technology</span>
                  <span class="timeline-item--subtitle"
                    >Full stack Developer ROR, ReactJS</span
                  >
                  <span class="timeline-item--content">
                    <li>Full stack Developer ROR, ReactJS</li>
                    <li>
                      Design database + writing APIs
                    </li>
                    <li>Building UI from design using Bootstrap, Jquery, ReactJS</li>
                    <li>Research and customize gem</li>
                  </span>
                </div>
              </div>
            </div>
            <div class="main-cv__timeline_container">
              <div class="main-cv__timeline--item left">
                <div class="timeline-item left">
                  <span class="timeline-item__year mobile_only"
                    >April 2019 - Present</span
                  >
                  <span class="timeline-item--title">Dinovative Inc</span>
                  <span class="timeline-item--subtitle"
                    >Backend Developer ROR</span
                  >
                  <span class="timeline-item--content">
                    <li>
                      Working at a product fintech p2p lending. Team size: 5 people.
                      Tech stack: ReactJS, Nextjs, Redux-saga, Ruby on rails, PostgreSQL, Minio
                    </li>
                    <li>
                      Writing APIs, implement many complex business logic
                    </li>
                    <li>
                      Intergrate API with Banking System, implement payment gateway
                    </li>
                  </span>
                </div>
              </div>
              <div class="main-cv__timeline--item desktop_only">
                <span class="timeline-item__year">April 2019 - Present</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= render 'shared/application_footer' %>
    <%= link_to '', '#', class: "cd-top text-replace js-cd-top" %>
  </body>
</html>
