<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <meta name="keywords" content="<%= @seo_keywords %>" />

    <%= favicon_link_tag 'favicons/favicon.ico' %>

    <%= stylesheet_link_tag 'application', "https://fonts.googleapis.com/css?family=Montserrat:100,400,400i,500,500i,700,900i&display=swap&subset=vietnamese",
        media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'blog', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
  </head>

  <body>
    <%= render "shared/application_nav" %>
    <% if blog_path? %>
      <%= render 'shared/blog_masthead' %>
    <% end %>

    <div class="container">
      <div class="row">
        <%= yield %>
      </div>

      <%= alerts %>
    </div>
    <%= render 'shared/blog_footer' %>
  </body>
</html>
